@{
    ViewData["Title"] = "Home Page";
}

<h1>Home - Taller de Mejores Prácticas</h1>
<p>Pulsa para agregar vehículos:</p>
<ul>
    <li><a asp-controller="Home" asp-action="AddMustang">Agregar Mustang</a></li>
    <li><a asp-controller="Home" asp-action="AddExplorer">Agregar Explorer</a></li>
</ul>

<p><a asp-controller="Home" asp-action="ShowCars">Ver lista de vehículos</a></p>
